.popover {
  display: none;
  position: absolute;
  left: 2rem;
  right: 2rem;
  padding: 1.2rem 4rem 1.6rem 1.2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px $color-fill-surface-inverse;
  border-radius: 1rem;
  background-color: #ffffff;
  color: $color-text-body;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.58;
  text-align: left;
  z-index: 10;

  @media (min-width: 1060px) {
    left: auto;
    right: auto;
    max-width: 50rem;
  }

  &.-type2 {
    padding: 0.6rem 3.6rem 0.6rem 1.2rem;
    border-radius: 15px;
    //background-color: @primary3;
    border: 0;
    box-shadow: none;

    @media (min-width: 1060px) {
      border-radius: 16px;
      padding: 0.4rem 3.6rem 0.6rem 1.2rem;
    }
  }

  &.-membership {
    @media (min-width: 1060px) {
      width: 40rem;
    }
  }

  &.-active {
    display: inline-block;
  }

  &.-up {
    margin-bottom: 1.2rem;
  }

  &.-down {
    margin-bottom: 1.2rem;
  }

  &.-left {
    @media (min-width: 1060px) {
      margin-left: -1rem;
    }
  }

  &.-center {
    @media (min-width: 1060px) {
      transform: translateX(-50%);
    }
  }

  &.-right {
    @media (min-width: 1060px) {
      margin-right: -3.6rem;
    }
  }

  .opener.-small + .toggleWrap &.-up {
    margin-bottom: -1rem;
  }

  &.-qrcode {
    width: auto;
    right: auto;
    bottom: 36px;
    left: 50%;
    padding: 3.6rem 1.2rem 1.2rem 1.2rem;
    margin-bottom: 1.7rem;
    transform: translate(-50%, 0);

    @media (min-width: 1060px) {
      left: 28px;
    }
  }

  &.-reverse {
    padding: 2.5rem 2rem 2.6rem;
    margin-top: 0 !important;

    .popover__h1 {
      color: $color-text-body;
      font-weight: normal;
    }

    @media (min-width: 1060px) {
      max-width: 28.2rem;
    }
  }

  &.-zoom-in {
    //pmsl
    padding: 2.4rem;
    top: auto !important;
    left: -2rem;

    @media (max-width: 1059px) {
      right: -2rem !important;
    }

    @media (min-width: 1060px) {
      left: auto;
      right: auto;
    }

    .popover__edge {
      display: none;
    }
  }

  &.-none {
    padding: 1.2rem 1.2rem 1.6rem 1.2rem;

    @media (min-width: 1060px) {
      margin-top: 1.2rem;
    }
  }

  &.-gift {
    bottom: 14.9rem !important;

    .popover__edge {
      margin-left: 10.3rem !important;
    }

    @media (min-width: 1060px) {
      width: 32rem;
      bottom: 17.5rem !important;

      .popover__edge {
        margin-left: -0.5rem !important;
      }
    }
  }

  &__h1 {
    display: block;
    margin: 0 0 1.2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-text-title;

    .popover__p + &,
    .popover__list + & {
      margin-top: 1.2rem;
    }

    & + .popover__list {
      margin-top: 0;
    }
  }

  &__p {
    color: $color-text-body;
    font-size: 1.4rem;
    line-height: 1.58;
    text-indent: 0;

    & + & {
      margin-top: 0.8rem;
    }

    .popover.-type2 & {
      font-size: 1.3rem;

      @media (min-width: 1060px) {
        font-size: 1.4rem;
      }
    }
  }

  .list.-disc {
    margin-bottom: 0;
  }

  .list.-disc > li:before {
    // background-color: @primary1;

    @media (min-width: 1060px) {
      top: 0.9rem;
    }
  }

  .list__item {
    color: $color-text-body;

    @media (min-width: 1060px) {
      font-size: 1.4rem;
      line-height: 1.58;
    }

    & + & {
      margin-top: 0.4rem;
    }

    // .list.-disc > & {

    //     &:before {
    //         content: "";
    //         position: absolute;
    //         top: .9rem;
    //         left: 0;
    //         width: .4rem;
    //         height: .4rem;
    //         border-radius: 50%;
    //         background-color: @secondary2;

    //         @media (min-width: 1060px) {
    //             top: 1.2rem;
    //         }
    //     }
    // }
  }

  &__close {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    border: 0;
    border-radius: 0.2rem;
    background: url('#{$IMG_PATH}/icon--close.svg') no-repeat 50% 50%;
    background-size: 24px 24px;
    text-indent: 100%;

    //.focus();

    .popover.-type2 & {
      height: 3rem;
      top: 50%;
      background-size: 16px 16px;
      transform: translateY(-50%);
    }

    .-qrcode & {
      width: 3.2rem;
      height: 3.2rem;
      background-size: 16px 16px;
      background-position-y: 0.8rem;
      top: 0.4rem;
      right: 0.4rem;
    }
  }

  &__edge {
    display: block;
    position: absolute;
    left: 0;
    width: 1rem;
    height: 0.8rem;
    background: url('#{$IMG_PATH}/popover__edge.svg') no-repeat;
    background-size: 10px 8px;

    .popover.-up & {
      bottom: -0.8rem;
      transform: rotate(180deg);
    }

    .popover.-type2 & {
      bottom: -0.7rem;
    }

    .popover.-membership.-up & {
      bottom: -1.2rem;
      transform: rotate(180deg);
    }

    .popover.-down & {
      top: -0.8rem;
    }

    .popover.-membership.-down & {
      top: -1.2rem;
    }

    .popover.-large.-down & {
      top: -1.2rem;
    }

    .popover.-left & {
      @media (min-width: 1060px) {
        margin-left: 2.2rem;
      }
    }

    .popover.-center & {
      margin-left: -2.5rem;

      @media (min-width: 1060px) {
        left: 50%;
        margin-left: -0.5rem;
      }
    }

    .popover.-center.-up & {
      @media (min-width: 1060px) {
        transform: rotate(180deg);
      }
    }

    .popover.-membership.-center & {
      @media (min-width: 1060px) {
        transform: translateX(-50%) rotate(180deg);
      }
    }

    .popover.-right & {
      @media (min-width: 1060px) {
        left: auto;
        right: 0;
        margin-left: 0;
        margin-right: 1rem;
      }
    }

    .opener.-small + .toggleWrap .popover.-center &,
    .opener.-small + .popover.-center & {
      margin-left: -0.6rem;
    }

    .opener.-small + .toggleWrap .popover.-left &,
    .opener.-small + .popover.-left & {
      margin-left: -1.4rem;

      @media (min-width: 1060px) {
        margin-left: 1.6rem;
      }
    }
  }

  &.-search {
    height: auto !important;
    padding: 4rem 3.2rem;

    .button {
      min-width: 12rem;
      height: 4.2rem;
      line-height: 4.2rem;
      padding: 0;
    }

    .forms [type='text'] {
      height: 4.5rem;
      width: 24rem;
    }
  }

  &.-membership {
    padding: 3rem 2.4rem 2.4rem;
  }

  &.-seat-combo {
    width: 20rem;
  }
}
