.selection {
  position: relative;

  [type='checkbox'],
  [type='radio'] {
    opacity: 0;
    position: absolute;
    top: 0.3rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    border: 0;

    &:focus ~ label:before {
      outline: 0;
      box-shadow: 0 0 0 0.3rem #fff, 0 0 0 0.4rem var(--color-border-primary);

      .app & {
        box-shadow: none;
      }
    }
  }

  .buttonRadio,
  .buttonCheckbox {
    &:focus {
      outline: 0;

      &::before {
        box-shadow: 0 0 0 0.3rem #fff, 0 0 0 0.4rem var(--color-border-primary);

        .app & {
          box-shadow: none;
        }
      }
    }
  }

  .buttonRadio,
  .buttonCheckbox,
  label {
    display: inline-block;
    position: relative;
    padding-left: 2.6rem;
    color: var(--color-text-primary);
    font-size: 1.4rem;
    line-height: 1.58;
    text-indent: 0;
    word-break: break-word;

    @media (min-width: 1060px) {
      padding-left: 3rem;
      font-size: 1.6rem;
      line-height: 1.5;
    }

    &:hover:before {
      outline: 0;
      box-shadow: 0 0 0 0.3rem #fff, 0 0 0 0.4rem var(--color-border-primary);

      .app & {
        box-shadow: none;
      }
    }

    &.-bold {
      font-weight: 700;
    }

    &.-inline {
      display: inline;
    }

    &.-inline-flex {
      display: inline-flex;
    }

    &.-info {
      font-size: 1.2rem;

      @media (min-width: 1060px) {
        font-size: 1.4rem;
      }
    }

    .-promotion-agree & {
      color: var(--color-text-primary);
    }
  }

  .buttonCheckbox:before,
  [type='checkbox'] ~ label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid var(--color-border-primary-darkble);
    border-radius: 0.2rem;
    background-size: 11px 9px;

    @media (min-width: 1060px) {
      top: 0.4rem;
    }
  }

  .buttonRadio:before,
  [type='radio'] ~ label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1.8rem;
    border: 1px solid var(--color-border-primary-darkble);
    background-size: 11px 9px;

    @media (min-width: 1060px) {
      top: 0.4rem;
    }
  }

  .buttonCheckbox.-checked:before,
  [type='checkbox']:checked ~ label:before {
    background: var(--color-border-primary-darkble) url('../../../../../images/common/ico-checkbox.svg') no-repeat 50%
      50%;
  }

  [data-theme='dark'] & .buttonCheckbox.-checked:before,
  [data-theme='dark'] & [type='checkbox']:checked ~ label:before {
    background: transparent url('../../../../../images/common/ico-checkbox.svg') no-repeat 50% 50%;
  }

  .buttonRadio.-checked:before,
  [type='radio']:checked ~ label:before {
    //background: #fff url('#{$IMG_PATH}/common/ico-radio.svg') no-repeat 50% 50%;
  }

  .buttonCheckbox.-indeterminate::before,
  [type='checkbox']:indeterminate ~ label:before,
  [type='checkbox'][aria-checked='mixed'] ~ label:before {
    // background: var(--color-border-primary) url('#{$IMG_PATH}/common/ico-checkbox-indeterminate.svg') no-repeat 50% 50%;
  }

  .buttonCheckbox.-indeterminate-gray::before,
  .indeterminate-gray[type='checkbox']:indeterminate ~ label:before,
  .indeterminate-gray[type='checkbox'][aria-checked='mixed'] ~ label:before {
    //background: var(--color-border-primary) url('#{$IMG_PATH}/common/ico-checkbox-indeterminate-gray.svg') no-repeat 50% 50%;
  }

  .buttonCheckbox[disabled],
  .buttonRadio[disabled],
  [disabled] ~ label {
    cursor: not-allowed;

    &:before {
      border: 1px solid var(--color-border-base) !important;
      background-color: var(--color-border-base) !important;
    }

    &:hover:before {
      box-shadow: none;
    }
  }

  .buttonCheckbox.-checked[disabled],
  [disabled][type='checkbox']:checked ~ label {
    cursor: not-allowed;

    &:before {
      //background-image: url('#{$IMG_PATH}/common/ico-checkbox-disabled.svg');
    }
  }

  .buttonCheckbox[aria-disabled='true'],
  [aria-disabled='true'][type='checkbox'] ~ label {
    cursor: not-allowed;

    &:before {
      border: 1px solid var(--color-border-base) !important;
      background-color: var(--color-border-base) !important;
    }
  }

  .buttonCheckbox.-checked[aria-disabled='true'],
  [aria-disabled='true'][type='checkbox']:checked ~ label {
    cursor: not-allowed;

    &:before {
      // background-image: url('#{$IMG_PATH}/common/ico-checkbox-disabled.svg');
    }
  }

  .buttonRadio[aria-disabled='true'],
  [aria-disabled='true'][type='radio'] ~ label {
    cursor: not-allowed;

    &:before {
      border: 1px solid var(--color-border-base) !important;
      background-color: var(--color-border-base) !important;
    }
  }

  .buttonRadio.-checked[disabled],
  .buttonRadio.-checked[aria-disabled='true'],
  [disabled][type='radio']:checked ~ label,
  [aria-disabled='true'][type='radio']:checked ~ label {
    &:before {
      border: 0.1px solid #666 !important;
      //background: var(--color-border-primary) url('#{$IMG_PATH}/common/ico-radio-disabled.svg') no-repeat 50% 50%;
    }
  }

  .buttonCheckbox[disabled],
  .buttonRadio[disabled],
  .buttonCheckbox[aria-disabled='true'],
  .buttonRadio[aria-disabled='true'],
  [disabled] ~ label,
  [aria-disabled='true'] ~ label {
    color: var(--color-text-second);
  }

  &.-agree {
    margin-top: 4rem;
  }

  .forms + & {
    margin-top: 2rem;
  }

  .forms + & {
    margin-top: 2rem;
  }

  &__has-popover {
    padding-right: 4rem;

    ._right {
      position: absolute;
      top: 1.1rem;
      right: 0;
      bottom: 100%;
      left: 0;
    }
  }

  &.-box-related {
    .-error {
      margin-bottom: 2rem;
    }
  }

  &.-bdr {
    border-radius: 1rem;
  }

  .members-agree-cks__items.-flexed & {
    width: 25%;
  }

  &.-journey-membership {
    margin: 1.6rem 0 2rem;

    @media (min-width: 1060px) {
      margin: 1.6rem 0 4rem;
      .message {
        margin-top: 1.6rem;
      }
    }
  }

  &.bundle {
    border-radius: 1rem;
  }
  &__wrap {
    padding-left: 2.6rem;
    @media (min-width: 1060px) {
      padding-left: 3rem;
    }
    .opener {
      vertical-align: top;
      width: 3rem;
      height: 3rem;
      @media (min-width: 1060px) {
        margin-left: 0.4rem;
      }
    }
    label {
      display: contents;
    }
  }
  &.-has-popover {
    display: flex;
    align-items: center;
  }
  &.-ck-renew {
    margin-bottom: 4rem;
  }
}

.selections.-only-label {
  label {
    display: block;
  }
}
