.quicklink-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 1.6rem;

  @media (min-width: 1060px) {
    margin-top: 3rem;

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
      gap: 1rem;
      width: 100%;
    }
  }
}
